<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.general.ecom.order.dao.ProjectPlanDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.fh.general.ecom.order.model.ProjectPlan">
		<id column="id" property="id" />
		<result column="red_project_id" property="redProjectId" />
		<result column="plan_id" property="planId" />
		<result column="plan_name" property="planName" />
		<result column="rate_white" property="rateWhite" />
		<result column="exp1" property="exp1" />
		<result column="exp2" property="exp2" />
	</resultMap>

</mapper>
