<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.general.ecom.basics.dao.UserGuideDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.fh.general.ecom.basics.model.UserGuide">
		<result column="id" property="id" />
		<result column="type" property="type" />
		<result column="img" property="img" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="del" property="del" />
		<result column="title" property="title" />
		<result column="summary" property="summary" />
		<result column="source" property="source" />
		<result column="publish_time" property="publishTime" />
		<result column="sort" property="sort" />
		<result column="published" property="published" />
	</resultMap>

</mapper>
